<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564256902063-o7ie4vs28nse3ponlo31g1ipmb50rj9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564256902063-o7ie4vs28nse3ponlo31g1ipmb50rj9d</string>
	<key>API_KEY</key>
	<string>AIzaSyB_WbJFDamMcFe7DmAt6lgVVKS9elQG5CQ</string>
	<key>GCM_SENDER_ID</key>
	<string>564256902063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pdp.iymanUz</string>
	<key>PROJECT_ID</key>
	<string>taqvo-uz</string>
	<key>STORAGE_BUCKET</key>
	<string>taqvo-uz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564256902063:ios:5b7914faaa80a6f11ebd5a</string>
</dict>
</plist>